<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Citas Services</h1>
        <p class="lead">Persona Services es el microservicio de Gestión Médica que maneja citas</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Leer Más &raquo;</a></p>
    </section>
  
</main>