<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Persona Services</h1>
        <p class="lead">Persona Services es el microservicio de Gestión Médica que maneja personas</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Leer más &raquo;</a></p>
    </section>
    
</main>